{% extends 'base.html' %}
{% block header %}
<h1>Random Images</h1>
<p>Get random images of dogs and cats in an instant!</p>
{% endblock %}
{% block content %}
<p class="notice">
    Get images of dogs from the biggest collection of images of dogs on the internet.<br/>
    <a class="button" href="/dogs">Get Cute Dogs!</a>
</p>
<p class="notice">
    If you think cats are more cuter and better than dogs like me then you are in the right place. <br/>
    <a class="button" href="/cats">Get Cute Cats!</a>
</p>
{% endblock %}
